<div class="container-md">
  <div class="row">
    <div class="col-6">

      <h1>Ingreso Producto</h1>
      <form method="post" action="/api/productos/">
        <div class="mb-3">
          <label for="inputTitle" class="form-label">Product Title</label>
          <input
            type="text"
            class="form-control"
            id="inputTitle"
            name="title"
          />
        </div>
        <div class="mb-3">
          <label for="inputPrice" class="form-label">Price</label>
          <input
            type="text"
            class="form-control"
            id="inputPrice"
            name="price"
          />
        </div>
        <div class="mb-3">
          <label for="inputUrl" class="form-label">Image Url</label>
          <input
            type="text"
            class="form-control"
            id="inputUrl"
            name="thumbnail"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary m-2" href="/productos" role="button">List Products</a>
      </form>
    </div>
  </div>
</div>