<div class="container-md">
  <div class="row">
    <div class="col-6">
      <h1>Hasta la proxima!</h1>
    </div>
    <div class="col-6">
      <form id="login" action="/login">
        <button
          type="submit"
          form="login"
          class="btn btn-primary"
        >LogIn</button>
      </form>
    </div>
  </div>
</div>