<div class="container-md">
  <div class="row">
    <div id="chat-box" class="col-6">
      <h1>Registro</h1>
      <form id="form-author" action="./api/auth/register" method="post">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">e-mail</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            name="email"
          />
          <label for="inputPass" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPass"
            name="password"
          />
        </div>
        <button
          type="submit"
          form="form-author"
          class="btn btn-primary"
        >Registrar</button>
      </form>
    </div>
  </div>
</div>